
body {
    background-color: lightcoral;
    font-family:'Times New Roman', Times, serif
}

.card {
    width: 600px;
    margin: 0 auto;
    background: white;
    border: 2px solid gray;
}

h1 {
    background-color:darkblue;
    color: white;
    display: inline;
    padding: 0 6px;
}


ul {
    display: inline-block;
    text-align: left;
}

.hcontainer {
    margin: 16px;
    text-align: center;
}

.lcontainer {
    text-align: center;
}